<div class="center-tray-container {{getTooltipTheme}}">

  {{#if staticTrays}}
    <div id="aat-static-tray-container" class='static-tray-container'>
      {{> "AAT.static-tray" }}
    </div>
  {{/if}}

  <div id="aat-ability-tray-container" class='ability-tray-container modifier-highlight'>
    <div class="stacked-tray-spacer-container ">
      {{#if conditionTray.active}}
        <div class="abilities-tray activity-tray condition">
          {{> "AAT.condition-tray" conditions=conditionTray.conditions }}
        </div>
      {{/if}}
      
      {{#each staticTrays as |tray|}}
        {{#if tray.active}}
          <div class="abilities-tray static-tray {{tray.id}}">
            {{> "AAT.full-tray" tray=tray }}
          </div>
        {{/if}}
      {{/each}}

      {{#each customTrays as |tray|}}
        {{#if tray.active}}
          {{#if (eq tray.type 'custom')}}
            {{#if @root.stackedTray.active}}
              {{> "AAT.full-tray-dragable" tray=tray }}
            {{else}}
              {{> "AAT.full-tray" tray=tray }}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}

      {{#if activityTray.active}}
        <div class="abilities-tray activity-tray activity">
          {{> "AAT.activity-tray" activities=activityTray.abilities }}
        </div>
      {{/if}}
         {{#if spellLevelTray.active}}
        <div class="abilities-tray activity-tray spellLevel">
          {{> "AAT.spell-level-tray" activities=spellLevelTray.abilities }}
        </div>
      {{/if}}


      {{#if targetHelper.active}}
        <div class="abilities-tray target-tray target-helper">
          {{> "AAT.target-tray" item=targetHelper.item }}
        </div>
      {{/if}}

    </div>
  </div>

  {{#if customTrays}}
    <div id="aat-custom-tray-container" class='custom-tray-container'>
      {{> "AAT.custom-tray" customTrays=customTrays }}
    </div>
  {{/if}}

</div>
