<div class="center-tray-container">
      {{#if staticTrays}}
      <div class='static-tray-container'>{{> "AAT.static-tray" }}</div>
      {{/if}}
      <div class='ability-tray-container'>
        {{#each staticTrays as |tray|}}
        {{#if tray.active}}
        <div class="abilities-tray static-tray  {{tray.id}}">
          {{> "AAT.full-tray" tray=tray}}
        </div>
        {{/if}}
        {{/each}}


        {{#each customTrays as |tray|}}
        {{#if (eq tray.type 'custom')}}
        {{#if tray.active}}
        <div class="abilities-tray custom-tray  {{tray.id}}">
          {{> "AAT.full-tray-dragable" tray=tray}}
        </div>
        {{/if}}
        {{/if}}
        {{/each}}

        {{#if activityTray.active}}
        <div class="abilities-tray activity-tray activity">
          {{> "AAT.activity-tray" activities=activityTray.abilities}}
        </div>
          {{/if}}
      </div>
    {{#if customTrays}}
      <div class='custom-tray-container'>{{> "AAT.custom-tray" customTrays=customTrays}}</div>
      {{/if}}
    </div>