<div class='equipment-misc-tray-container {{getTooltipTheme}}'>
  <div class="equipment-misc-tray">

  <div id="aat-equipment-tray-container" class='equipment-tray-container'>
    {{> "AAT.equip-tray"}}
  </div>
  <div id="aat-misc-tray-container" class='misc-tray-container'>
    {{> "AAT.utility-tray"}}
  </div>
  </div>
</div>
