<div class='equipment-misc-tray-container {{getTooltipTheme}}'>
  <div class='equipment-tray-container'>
    {{> "AAT.equip-tray"}}
  </div>
  <div class='misc-tray-container'>
    {{> "AAT.utility-tray"}}
  </div>
</div>
