<div class='action-bar-frame'>
  <div class='corner top-left'></div>
  <div class='edge top'></div>
  <div class='corner top-right'></div>

  <div class='edge left'></div>
  <div class='center'></div>
  <div class='edge right'></div>

  <div class='corner bottom-left'></div>
  <div class='edge bottom'></div>
  <div class='corner bottom-right'></div>
</div>