.effect-tray-container {
  position: relative;
  height: 100%;
}

.effect-tray {
  position: absolute;
  bottom: 100%;
  right: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  width: 375px;
  height: 375px;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
}

.effect-tray-icon {
  width: 70px;
  height: 70px;
  border: 4px solid #000;
  margin: 3px;
  box-sizing: border-box;
}
