@use 'mixins' as *;
.skill-tray-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.skill-tray {
  @include inset-tray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: calc(var(--aat-item-size) * 2 + var(--aat-main-tray-padding) * 2);
  height: 332px;
  padding: var(--aat-main-tray-padding);
  border-radius: 15px 15px 0px 0px;
}
