.static-tray-container {
  position: absolute;
  top: calc(-1 * var(--aat-static-tray-size) - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px 0;
  border-radius: 5px 5px 0 0;
  background: rgba(255, 255, 255, 0);
}

.static-tray-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;

  width: var(--aat-static-tray-size);
  height: var(--aat-static-tray-size);
  padding: 2px;
  border-radius: 5px;
  background: var(--aat-tray-button-background-color);
  border: 9px inset var(--aat-tray-button-border-color);
  box-shadow: inset 0 0 2px rgba(36, 36, 36, 0.6);
  transition: all 0.3s ease;
}

.static-tray-button:hover {
  border: 9px inset var(--aat-hover-color);
  box-shadow: 0 0 12px var(--aat-hover-color), inset 0 0 12px var(--aat-hover-color);
}

.static-tray-button-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: var(--aat-static-tray-size);
}

.static-tray-active {
  background: var(--aat-hover-color-dim);
  color: #f1f1f1;
  border: 9px inset var(--aat-hover-color);
  box-shadow: 0 0 12px var(--aat-hover-color), inset 0 0 15px var(--aat-hover-color);
}

.static-tray-no-slots {
  background: var(--aat-hover-color-dim);
}
.static-spell-level-container {
  position: relative;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 0 11px 5px rgba(0, 0, 0, 0.5098039216);
  z-index: 2;
}

.static-spell-level,
.static-item-uses {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  padding: 5px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #f1f1f1;
  pointer-events: none;
  text-shadow: 0 0 6px rgb(0, 0, 0), 0 0 6px rgb(0, 0, 0);
}

.static-spell-level {
  top: -12px;
  font-size: 28px;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0, 1));
}

.static-item-uses {
  bottom: -12px;
  font-size: 30px;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0, 1));
}
