@use 'mixins' as *;

.end-turn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.end-turn-swap-button-container,
.toggle-condition-tray-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
}

.swap-skill-tray-button {
  @include center;
  @include button-style;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  font-size: 26px;
}

.toggle-condition-tray-button {
  @include center;
  @include button-style;
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  font-size: 26px;
}

.combat-inner-container {
  @include inset-tray;
  border-radius: 100%;
  width: min(var(--aat-item-size) * 2.9, var(--aat-main-tray-total-height) * 0.9);
  height: min(var(--aat-item-size) * 2.9, var(--aat-main-tray-total-height) * 0.9);
  padding: 20px;
  margin: 15px;
  border: 5px solid var(--aat-border-color-light);
  outline: 8px solid var(--aat-border-color);
  background: #2b2b2b;
}

.end-turn-btn,
.end-turn-btn-dice,
.end-turn-btn-not-turn {
  @include inset-tray;
  border: 0px;
  padding: var(--aat-main-tray-padding);
  transition: 0.3s ease-in-out;
  width: min(calc(var(--aat-item-size) * 2.9), calc(var(--aat-main-tray-total-height) * 0.9));
  height: min(calc(var(--aat-item-size) * 2.9), calc(var(--aat-main-tray-total-height) * 0.9));
  border-radius: 50%;
  font-size: 20px;
  margin: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  pointer-events: all;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--aat-border-color-light);
  outline: 8px solid var(--aat-border-color);
  &:active {
    box-shadow: inset 0 0 10px #ffffff;
    filter: brightness(1.2);
  }
}

.end-turn-btn,
.end-turn-btn-not-turn {
  outline: 5px solid var(--aat-border-color-light);
  border: 8px solid var(--aat-border-color);
}

.dice-button-container {
  @include inset-tray;
  border-radius: 0px 200px 200px 0px;
  border-left: 0px;
  position: relative;
}

.end-turn-btn {
  background: radial-gradient(var(--aat-hover-color-light) -25%, var(--aat-main-color) 60%);
  width: 100%;
  height: 100%;
  margin: 0px;
  &:active {
    background: radial-gradient(var(--aat-hover-accent-color), var(--aat-hover-color-dim));
    box-shadow: inset 0 0 15px var(--aat-hover-color-dim);
  }

  &:hover {
    box-shadow: 0 0 10px var(--aat-hover-color), inset 0 0 10px var(--aat-hover-color-dim);
  }
}

.end-turn-btn-not-turn {
  background: radial-gradient(var(--aat-accent-color), var(--aat-accent-color-light));
  pointer-events: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.end-turn-btn-dice {
  color: #fff;
  // border: 3px solid var(--aat-border-color);
  background: radial-gradient(var(--aat-main-color-light) 35%, var(--aat-main-color) 65%);

  &:hover {
    background: radial-gradient(var(--aat-main-color-light) 35%, var(--aat-main-color) 65%);

    box-shadow: inset 0px 0px 10px rgb(255 255 255 / 50%),
      0 0 15px 10px var(--aat-hover-accent-color);
  }
  width: min(calc(var(--aat-item-size) * 2.9), calc(var(--aat-main-tray-total-height) * 0.9));
  height: min(calc(var(--aat-item-size) * 2.9), calc(var(--aat-main-tray-total-height) * 0.9));
  .end-turn-btn-dice-icon {
    font-size: min(calc(var(--aat-item-size) * 1.9), calc(var(--aat-main-tray-total-height) * 0.6));
    color: #f1f1f1;
    display: flex;
    i {
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.8), 0 0 6px rgba(0, 0, 0, 0.8);
    }
  }
}

.end-turn-btn-text {
  font-size: 35px;
  line-height: 45px;
  font-family: serif;
  color: #f1f1f1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8), 0 0 5px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  text-align: center;
}

.turn-circle {
  position: absolute;
  bottom: -370px;
  left: 50%;
  width: 530px;
  height: 530px;
  transform: translate(-50%, -50%) rotate(90deg);
  pointer-events: none;
  z-index: 6;
}

.minimize-button {
  position: absolute;
  right: -45px;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 6px;

  background: rgba(11, 10, 19, 0.75);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.1);

  cursor: pointer;
  pointer-events: all;
  i {
    font-size: 18px;
  }
}
