:root {
  --item-size: 75px;
  --text-scale-ratio: 1;
  --item-tray-item-width-count: 10;
  --item-tray-item-height-count: 2;
  --character-health-percent: 100;
  --stacked-spacer-width: 0px;
}

$item-tray-item-width-count: var(--item-tray-item-width-count);
$item-tray-item-height-count: var(--item-tray-item-height-count);
$total-item-width: var(--item-size);
$total-item-height: var(--item-size);
$main-tray-padding: 7px;
$app-width: 1400px;
$app-height: calc($item-tray-item-height-count * $total-item-height + $main-tray-padding * 4);
$main-tray-height: calc(
  $item-tray-item-height-count * $total-item-height + $main-tray-padding * 2 + 2px
);
$inset-border: 2px;
$item-margin: 1px;
$item-width: calc($total-item-width - ($item-margin * 2));
$item-height: calc($total-item-height - ($item-margin * 2));
$small-button-width: calc($total-item-width * 0.9);
$small-button-height: calc($total-item-height / 3);
$static-tray-size: 50px;
$app-background: rgba(117, 117, 117, 0.7);
$tray-button-background: rgb(97, 97, 95);
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin main-tray-height {
  height: $main-tray-height;
}
@mixin hover {
  &:hover {
    border: 2px solid #c9593f;
    box-shadow: 0 0 5px #c9593f;
  }
}

@mixin static-hover {
  &:hover {
    box-shadow: inset 0 0 12px rgba(201, 89, 63, 0.8);
    cursor: pointer;
  }
}

@mixin item {
  background: #333;
  color: #f1f1f1;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  width: $item-width;
  height: $item-height;
  position: relative;
  vertical-align: middle;
  align-self: center;
  margin: $item-margin;
}

@mixin inset-tray {
  background: #5b5b5b;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.8), inset -3px -3px 5px rgba(0, 0, 0, 0.8);

  border: $inset-border solid #2f2f2f;
  border-radius: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

#auto-action-tray {
  @include center;
  @include main-tray-height;
  flex-direction: row;
  background: $app-background;
  border-radius: 100px 8px 8px 100px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

  height: $app-height;
  background-blend-mode: multiply;
}

.static-tray-container {
  position: absolute;
  top: -57px;
  border-radius: 10px 10px 0 0;
  background: $app-background;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;

  @include center;
}

.static-tray-button {
  @include center;
  @include static-hover;
  background: $tray-button-background;
  width: $static-tray-size;
  height: $static-tray-size;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 7px rgba(36, 36, 36, 0.6);
  transition: all 0.3s ease;
  border: 6px inset #5b5b5b94;
  &:hover {
    box-shadow: 0 0 12px rgba(201, 89, 63, 0.8), inset 0 0 12px rgba(201, 89, 63, 0.8);
    border: 6px inset rgb(201 89 63 / 77%);
  }
}
.static-tray-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 38px;
  flex-wrap: wrap;
}

.static-tray-active {
  box-shadow: inset 0 0 15px rgba(255, 140, 0, 0.9);
  background: rgb(120, 60, 40);
  color: #f1f1f1;

  box-shadow: 0 0 12px rgba(201, 89, 63, 0.8), inset 0 0 12px rgba(201, 89, 63, 0.8);
  border: 6px inset rgb(201 89 63 / 77%);
}
.static-tray-no-slots {
  background: radial-gradient(circle, #b35858 0%, #5f5252 100%);
}

.icon-action {
  color: rgb(179, 99, 1);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
  font-size: calc(var(--text-scale-ratio) * 1.3rem);
}

.icon-bonus {
  color: rgb(0, 143, 0);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
  font-size: calc(var(--text-scale-ratio) * 1.3rem);
}

.icon-slot {
  color: #00aaff;
  text-shadow: 0 0 8px rgba(0, 170, 255, 0.8);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
}

.icon-slot-spent {
  color: #5582a3;
  opacity: 0.6;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
  margin: 3px;
}

.icon-pact {
  color: #aa00ff;
  text-shadow: 0 0 8px rgba(170, 0, 255, 0.8);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
}

.icon-pact-spent {
  color: #71528a;
  opacity: 0.6;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
  margin: 3px;
}

.icon-ritual {
  color: #ffcc66;
  text-shadow: 0 0 8px rgba(255, 170, 0, 0.8);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
}

.icon-custom {
  color: #eb0a0a;
  text-shadow: 0 0 8px rgba(230, 80, 80, 0.8);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  margin: 3px;
  font-size: calc(var(--text-scale-ratio) * 1.325rem);
}

.icon-cancel {
  font-size: calc(var(--text-scale-ratio) * 1.56rem);
  color: #eb7676;
  cursor: pointer;
  margin-left: 12px;
  transition: color 0.3s, transform 0.2s;

  &:hover {
    color: #e60000;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.6);
  }
}

.static-spell-level-container {
  position: relative;
}
.static-spell-level {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  padding: 5px 10px;

  font-size: 1rem;
  color: #f1f1f1;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
  pointer-events: none;
}

.static-item-uses {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  padding: 5px 10px;

  font-size: 1rem;
  color: #f1f1f1;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
  pointer-events: none;
}

.character-image-container {
  @include center;
  @include main-tray-height;
  .image-container {
    padding: 0;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    vertical-align: middle;
    outline: 5px solid rgba(39, 39, 39, 1);
    position: relative;
    .image-border {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.8), inset -3px -3px 5px rgba(0, 0, 0, 0.8);
      outline: 4px solid rgba(39, 39, 39, 1);
    }
  }

  #health-percent {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.8), inset -3px -3px 5px rgba(0, 0, 0, 0.8),
      inset 0 0 calc(100px - var(--character-health-percent) * 1px)
        rgba(225, 0, 0, calc(1 - (var(--character-health-percent) / 100)));
    z-index: 1;
  }
  .concentrating {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.8), inset -3px -3px 5px rgba(0, 0, 0, 0.8),
      0 0 15px #9600d1;
    border: $inset-border solid #2f2f2f;
    outline: 3px solid #8500a0;
  }
  img {
    align-items: center;
    vertical-align: middle;
    border: none;
    width: 170px;

    background: #5b5b5b;
  }
}

.equipment-misc-tray-container {
  @include main-tray-height;
  @include center;

  position: relative;
  flex-direction: column;
  width: calc($total-item-width * 2 + $main-tray-padding * 2);
  margin: 5px;
}
.equipment-tray-container {
  @include center;
  @include inset-tray;
  padding: $main-tray-padding;
  width: calc($total-item-width * 2 + $main-tray-padding * 2);
  img {
    @include hover;
    @include item;
  }
}

.misc-tray-container {
  @include inset-tray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc($small-button-width * 2 + $main-tray-padding * 2);
  height: calc($main-tray-height - $total-item-height - $main-tray-padding);

  justify-content: center;
  align-items: flex-start;
  padding: $main-tray-padding;
  gap: 2px;
}

.ability-selection-input {
  @include inset-tray;
  position: absolute;
  width: calc($total-item-width * $item-tray-item-width-count);
  height: calc($total-item-height * $item-tray-item-height-count);
  left: 50%;
  bottom: 104%;
  transform: translateX(-50%);
  border: 3px solid #c9593f;
  outline: 3px solid #c9593f;
  box-shadow: (0 0 8px #c9593f), (0 0 8px #c9593f), (0 0 8px #c9593f);
}

@mixin button-style {
  text-align: center;
  color: #f1f1f1;
  background: linear-gradient(180deg, #1e3a5f, #355c7d);
  border: 2px inset #4a6fa5;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  font-family: serif;
  &:hover {
    border-color: #c9593f;
    box-shadow: 0 0 8px rgba(201, 89, 63, 0.8), 0 0 4px rgba(201, 89, 63, 0.6) inset;
  }
}

.small-button {
  @include center;
  @include button-style;
  width: calc($small-button-width - $main-tray-padding);
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 100%;
}

.small-button-active {
  @include center;
  @include button-style;
  width: calc($small-button-width - $main-tray-padding);
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 100%;
  border: 2px solid #c9593f;
  box-shadow: 0 0 5px #c9593f;
}

.small-button-skill {
  @include center;
  @include button-style;
  width: calc($small-button-width + $main-tray-padding);
  height: $main-tray-height / 6;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 100%;
}
.small-button-save {
  @include center;
  @include button-style;
  background: linear-gradient(180deg, #5b9fa4, #0f5753);
  border: 2px solid #004a74;
  width: calc($small-button-width + $main-tray-padding);
  height: $main-tray-height / 6;

  flex-grow: 1;
  box-sizing: border-box;
  font-size: 100%;
}

.proficient {
  border: 2px inset #92cdff;

  text-decoration: underline;
  text-decoration-color: #1e70b9;
}

.expertise {
  border: 2px inset #bca4eb;

  text-decoration: underline double;
  text-decoration-color: #005b8d;
}
.center-tray-container {
  @include center;
  flex-direction: column;
}
.ability-tray-container {
  @include main-tray-height;
  @include inset-tray;
  $tray-width: calc($total-item-width * $item-tray-item-width-count + $main-tray-padding * 2 + 5px);

  padding: $main-tray-padding;
  width: $tray-width;
  margin: 5px;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  background: #5b5b5b;
  .activity-selection-text {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(var(--text-scale-ratio) * 1.3rem);
    color: #f1f1f1;
    font-family: serif;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  .use-slot-text-container {
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 8px;
    font-size: calc(var(--text-scale-ratio) * 1.125rem);
    color: #f1f1f1;
    font-family: serif;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .use-slot-checkbox {
    @include inset-tray;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    background: #333;
    background-color: #0d0d12;

    &:not(:checked) {
      scale: calc(var(--text-scale-ratio));
    }
    &:checked {
      background-color: #c9593f;
      border-color: #c9593f;
      scale: calc(var(--text-scale-ratio));

      &:hover {
        border: 2px solid #c9593f;
        box-shadow: 0 0 5px #c9593f;
      }
      &:checked::before {
        background: #333;
        background-color: #0d0d12;
      }
    }
  }

  img {
    @include item;
    @include hover;
  }

  img.common {
    border: 2px solid #333;
    @include hover;
  }

  img.uncommon {
    border: 2px solid #11cf00;
    @include hover;
  }

  img.rare {
    border: 2px solid #164cfc;
    @include hover;
  }

  img.veryRare {
    border: 2px solid #a665e4;
    @include hover;
  }

  img.legendary {
    border: 2px solid #e29404;
    @include hover;
  }

  img.artifact {
    border: 2px solid #c00505;
    @include hover;
  }

  .ability-button-passive img {
    @include center;
    @include hover;
    border-radius: 50%;
    border: 2px solid #2c2d2e;
    box-shadow: 0 0 2px #0d0d12;
  }
  .ability-ol {
    width: calc($total-item-width * $item-tray-item-width-count);
    height: calc($total-item-height * $item-tray-item-height-count);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    align-items: center;
    background: #5b5b5b;
    .context-item {
      width: auto;
      height: auto;
    }
    li {
      width: $total-item-width;
      height: $total-item-height;
    }
  }
  .activity-ol {
    li {
      margin: calc(var(--text-scale-ratio) * 0.7rem);

      width: calc($total-item-width * 0.8);
      height: calc($total-item-height * 0.8);
    }
    @include center;
    width: calc($total-item-width * $item-tray-item-width-count);
    height: calc($total-item-height * $item-tray-item-height-count);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    align-items: center;
  }
}

.activity-button {
  position: relative;
  outline: 2px outset #00aaff;
  border-radius: 8px;
  box-shadow: 0 0 15px 5px rgba(0, 170, 255, 0.8);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  width: calc(var(--item-size) * 0.8);
  height: calc(var(--item-size) * 0.8);
  overflow: hidden;
  &:hover {
    box-shadow: 0 0 30px 10px rgba(0, 170, 255, 1), 0 0 20px 5px rgba(0, 170, 255, 0.9) inset;
    transform: scale(1.05);
  }
  img {
    width: calc($total-item-width * 0.8);
    height: calc($total-item-height * 0.8);
    pointer-events: none;
  }
}

.activity-button-inactive {
  position: relative;
  outline: 2px outset #00aaff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  width: calc(var(--item-size) * 0.8);
  height: calc(var(--item-size) * 0.8);
  overflow: hidden;
  filter: 100%;
  filter: brightness(0.45);
  img {
    width: calc($total-item-width * 0.8);
    height: calc($total-item-height * 0.8);
  }
}

.activity-slot-icon-container {
  position: relative;
  @include center;
  i {
    position: absolute;
    top: -9px;
    left: 46%;
    transform: translateX(-50%);
  }
  .icon-slot-spent {
    opacity: 1;
  }
}

.abilities-tray {
  position: absolute;

  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.consumable-count {
  position: relative;
  bottom: 30px;
  right: 8px;
  color: #f1f1f1;
  font-size: calc(var(--text-scale-ratio) * 1.375rem);
  font-weight: bold;
  min-width: 20px;
  text-align: right;
  height: 0px;
  text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
}

.spell-item-container {
  position: relative;
}
.spell-item-container-img-upcast {
  filter: brightness(65%);
  &:hover {
    filter: brightness(100%);
  }
}
.spell-item-container-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  font-size: calc(var(--text-scale-ratio) * 1.375rem);
  color: #f1f1f1;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
  pointer-events: none;
}

.spell-item-container-text-upcast {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  position: absolute;
  transform: translateY(-5%);
  top: 0px;
  right: 0px;
  padding: 0px 5px;
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  color: #f1f1f1;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
  pointer-events: none;
}

.main-tray-controls-container {
  right: 291px;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 3px;
  div {
    @include center;
    @include button-style;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: calc(var(--text-scale-ratio) * 1.125rem);
    color: #f1f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-family: Arial, sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.skill-tray-container {
  @include inset-tray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  gap: 2px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: $main-tray-height;
  min-width: calc($small-button-width * 2 + $main-tray-padding * 2);

  height: $main-tray-height;
  padding: $main-tray-padding;
  gap: 2px;
}
.end-turn-container {
  @include center;
  height: 100%;
}
.custom-tray-container {
  @include center;
  position: absolute;
  top: calc($main-tray-height + 8px);
  border-radius: 0 0 10px 10px;
  background: $app-background;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.custom-tray-button {
  @include center;

  background: $tray-button-background;
  display: flex;
  border: none;
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 7px rgba(36, 36, 36, 0.6);
  transition: all 0.3s ease;
  font-family: serif;
  font-size: calc(var(--text-scale-ratio) * 1rem);
  color: #f1f1f1;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border-right: 6px inset #5b5b5b94;
  border-left: 6px inset #5b5b5b94;
  border-bottom: 6px inset #5b5b5b94;
  &:hover {
    box-shadow: 0 0 12px rgba(201, 89, 63, 0.8), inset 0 0 12px rgba(201, 89, 63, 0.8);
    border-right: 6px inset rgb(201 89 63 / 77%);
    border-left: 6px inset rgb(201 89 63 / 77%);
    border-bottom: 6px inset rgb(201 89 63 / 77%);
  }
}
.custom-tray-active {
  @include center;
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  box-shadow: inset 0 0 15px rgba(255, 140, 0, 0.9);
  background: rgb(120, 60, 40);
  color: #f1f1f1;
  font-family: serif;
  font-size: calc(var(--text-scale-ratio) * 1rem);
  color: #f1f1f1;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border-right: 6px inset rgb(201 89 63 / 77%);
  border-left: 6px inset rgb(201 89 63 / 77%);
  border-bottom: 6px inset rgb(201 89 63 / 77%);
}

.tray-information {
  @include inset-tray();

  background: $tray-button-background;
  margin: -1px;
  border-radius: 50px;

  padding: 4px;
  padding-left: 20px;
  padding-right: 10px;

  transition: all 0.3s ease;
  font-family: serif;
  font-size: calc(var(--text-scale-ratio) * 1.625rem);
  color: #f1f1f1;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.transparent-box {
  @include item;
  @include center;
}
.transparent-box-passive {
  @include item;
  @include center;
  border: 0px;
}
.tooltip-container {
  background: #2c1f12;
  border: 2px solid #704214;
  border-radius: 8px;
  padding: 10px;
  color: #ffcc66;
  width: 300px;
  font-family: serif;
  position: relative;
  text-align: left;
}

.tooltip-header h2 {
  padding: 2px;
  font-size: calc(var(--text-scale-ratio) * 1.4375rem);
  color: #ffcc66;
}

.tooltip-subtitle {
  font-size: calc(var(--text-scale-ratio) * 1rem);
  color: #bda069;
}

.tooltip-damage h3 {
  padding: 2px;
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  margin: 5px 0;
  padding: 5px;
  color: #ffcc66;
}

.damage-type {
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  color: #86d632;
  padding: 5px;
}

.tooltip-description {
  margin: 5px 0;
  font-size: calc(var(--text-scale-ratio) * 1rem);
  color: #c8b08e;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
}

.tooltip-effect {
  font-size: calc(var(--text-scale-ratio) * 0.8rem);
  color: #c9593f;
}

.tooltip-duration,
.tooltip-info {
  font-size: calc(var(--text-scale-ratio) * 1.1rem);
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tooltip-footer {
  flex-direction: row;
  display: flex;
  margin-top: 10px;
  text-align: left;
  background-color: #1d140c;
  padding: 6px;
}

.action-tag {
  background: #612626;
  padding: 4px 8px;
  border-radius: 4px;
  color: #f1f1f1;
}

.hp-container {
  font-size: 1.125rem;
  font-family: Arial, sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  bottom: 15px;
  width: 170px;
  z-index: 2;
}
@mixin hp {
  font-weight: bold;

  font-size: 1.25rem;
  color: #f1f1f1;
  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
}
.hp-form {
  @include inset-tray;
  background: #333;
  input {
    @include hp;
    pointer-events: all;
  }
}

.hp-text {
  @include hp;
}
.hidden-disabled {
  display: none;
  pointer-events: none;
  user-select: none;
}

.temp-hp-text {
  color: #5bc0de;
  font-weight: bold;
  font-size: calc(var(--text-scale-ratio) * 1.125rem);

  text-shadow: rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px, rgb(0, 0, 0) 0px 0px 6px;
}

.end-turn-swap-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.swap-skill-tray-button {
  @include center;
  @include button-style;
  position: absolute;

  bottom: 0px + $main-tray-padding;
  left: 0px;
  width: 25px;
  height: 25px;
  margin: 3px;
  border-radius: 50%;
}
.end-turn-btn {
  @include inset-tray;
  padding: $main-tray-padding;
  transition: 0.3s ease-in-out;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  margin: 15px;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  pointer-events: all;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background: radial-gradient(#ff4800, #000000);

  &:active {
    background: radial-gradient(#fc3c1b, #420000);
    box-shadow: inset 0 0 15px #3a0804;
  }

  &:hover {
    box-shadow: 0 0 10px #ff7b50, inset 0 0 10px #3a0804;
  }
}

.end-turn-btn-dice {
  @include inset-tray;
  padding: $main-tray-padding;
  transition: 0.3s ease-in-out;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  margin: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  color: #fff;
  pointer-events: all;
  border: 2px solid #1f0801;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#65a4f5, #004987);
  &:active {
    box-shadow: inset 0 0 10px #0096c0;
    background: radial-gradient(#5494e7, #013969);
  }

  &:hover {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5),
      0px 0px 9px 6px #65a4f5;
  }
  .end-turn-btn-dice-icon {
    font-size: 5rem;
    color: #f1f1f1;
    display: flex;
    i {
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8), 0px 0px 6px rgba(0, 0, 0, 0.8);
    }
  }
}

.end-turn-btn-nohover {
  @include inset-tray;
  padding: $main-tray-padding;
  background: radial-gradient(#ff8725, #552502);
  transition: 0.3s ease-in-out;
  height: 130px;
  width: 130px;
  border-radius: 100%;
  font-size: calc(var(--text-scale-ratio) * 1.25rem);
  margin: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  pointer-events: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.end-turn-btn-text {
  font-size: 1.125rem;
  line-height: 22px;
  font-family: serif;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8) 0px 0px 4px rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
  text-align: center;
}
.hp-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%) rotate(90deg);
  pointer-events: none;
}

.minimize-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  i {
    font-size: 18px;
  }
}

.multi-group0 {
  border-radius: 8px;
  box-shadow: 0 0 7px 1px rgb(255 0 0);
  z-index: 1;
}

.multi-group1 {
  border-radius: 8px;
  box-shadow: 0 0 7px 1px rgb(255, 250, 0);
  z-index: 1;
}
.multi-group2 {
  border-radius: 8px;
  box-shadow: 0 0 7px 1px #86d632;
  z-index: 1;
}

.effect-tray-container {
  position: relative;
  height: 100%;
}
.effect-tray {
  position: absolute;
  bottom: 100%;
  right: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  width: 200px;
  height: 200px;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
}

.effect-tray-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  margin: 2px;
  box-sizing: border-box;
}

.drag-handle {
  height: calc($main-tray-height - 14px);
  width: calc(($total-item-width / 3) + 2px);
  background: linear-gradient(180deg, #920000, #c93232);
  outline: 4px solid #5b5b5b;
  outline-offset: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  box-shadow: inset 0px 0px 10px 3px #000000;
  &:hover {
    background: linear-gradient(180deg, #ca0202, #f53d3d);
  }
}
.drag-spacer {
  height: calc($main-tray-height - 14px);
  width: calc(($total-item-width / 3) + 2px);
  position: absolute;
  background: #5b5b5b;
  right: 0px;
  z-index: 3;
}

.drag-tray-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.stacked-tray-spacer-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // margin-right: var(--stacked-spacer-width);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  // overflow-y: visible;
  clip-path: inset(-7px var(--stacked-spacer-width) -5px -5px);
}

.common {
  z-index: 1;
}
.classFeatures {
  z-index: 2;
}
.items {
  z-index: 3;
}
