
{{#each customTrays as |tray|}}
<div
  class=
  {{#if tray.active}} 'custom-tray-active'
  {{else}}
  'custom-tray-button'
  {{/if}}
  data-id={{tray.id}}
  data-action='setTray'
  data-type='custom'
>{{capitalize tray.id}}</div>
{{/each}}