<div class='tooltip-container'>
  <div class='tooltip-header'>
    <h2>{{name}}</h2>

    <div class='tooltip-description'>

      {{description}}

    </div>

    <div class='tooltip-footer'>
      <span class='action-tag'>{{getDuration duration}}</span>

      </span>

    </div>
  </div>