        <div class="abilities-tray custom-tray drag-tray-container container-{{tray.id}}  {{tray.id}}">



<div class='drag-handle handle-{{tray.id}}'> <i class="fa-regular fa-grip-lines-vertical"></i></div>

  <ol class='ability-ol'>
    {{#each tray.abilities as |item|}}
        {{#indexRange '0' @index @root.totalabilities }}
      {{> AAT.item item=item tray=../tray index=@index}} 
        {{/indexRange}}
    {{/each}}

  </ol>


          </div>