<div data-action='toggleLock'>
  {{#if @root.locked}}
    <i class='fa-solid fa-lock'></i>
  {{else}}
    <i class='fa-solid fa-lock-open'></i>
  {{/if}}
</div>
<div>

  <i class='fa-solid fa-arrow-up'></i>
</div>
<div>

  <i class='fa-solid fa-arrow-down'></i>
</div>