<div style='position: relative'>

  <div class='tray-control-button'>
    <div>

      <i class='fa-solid fa-lock'></i>
    </div>
    <div>

      <i class='fa-solid fa-arrow-up'></i>
    </div>
    <div>

      <i class='fa-solid fa-arrow-down'></i>
    </div>
  </div>

</div>