<div
  data-action='toggleLock'
  data-tooltip='Lock/Unlock Tray'
  data-tooltip-direction='UP'
>
  {{#if @root.locked}}
    <i class='fa-solid fa-lock'></i>
  {{else}}
    <i class='fa-solid fa-lock-open'></i>
  {{/if}}
</div>
<div>

  <i class='fa-solid fa-arrow-up'></i>
</div>
<div>

  <i class='fa-solid fa-arrow-down'></i>
</div>