<div class='end-turn-swap-button-container'>
  <div style='position: relative; height: 100%'>
    <div
      class='swap-skill-tray-button'
      data-action='toggleSkillTrayPage'
      data-tooltip='Swap Skill Tray'
      data-tooltip-direction='UP'
    >
      <i class='fa-solid fa-rotate-reverse'></i>
    </div>

  </div>
  <div style='position: relative; height: 100%'>

    <div
      class='toggle-condition-tray-button'
      data-action='toggleConditionTray'
      data-tooltip='Toggle Condition Tray'
      data-tooltip-direction='UP'
    >
      <i class='fa-solid fa-flask-round-potion'></i>
    </div>
  </div>
  <div
    style='position: relative; pointer-events: none; height: 100%; display: flex; align-items: flex-end; margin : 10px;'
  >
    <svg viewBox='0 0 400 400' class='turn-circle'>
      <circle
        class='circle-svg'
        cx='200'
        cy='200'
        r='100'
        stroke-width='8'
        fill='none'
        stroke-linecap='round'
      />
    </svg>

    {{#if combatHandler.isTurn}}
      <div class='end-turn-btn' data-action='endTurn'>
        {{#if combatHandler.inCombat}}
          <div class='end-turn-btn-text'>
            End Turn<br />
            <i class='fa-solid fa-hourglass-half'></i>
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if combatHandler.inCombat}}
        <div class='end-turn-btn-nohover'>
          <div class='end-turn-btn-text'>
            Next Turn:<br />
            {{combatHandler.tillNextTurn}}
            Turns
          </div>
        </div>
      {{else}}
        <div class='end-turn-btn-dice' data-action='rollD20'>
          <div class='end-turn-btn-dice-icon'>
            {{{diceIcon currentDice}}}
          </div>
        </div>
      {{/if}}
    {{/if}}

  </div>
</div>