<div class='dice-button-container'>
  <div
    class='swap-skill-tray-button'
    data-action='toggleSkillTrayPage'
    data-tooltip='Swap Skill Tray'
    data-tooltip-direction='UP'
  >
    <i class='fa-solid fa-rotate-reverse'></i>
  </div>

  <div
    class='toggle-condition-tray-button'
    data-action='toggleConditionTray'
    data-tooltip='Toggle Condition Tray'
    data-tooltip-direction='UP'
  >
    <i class='fa-solid fa-flask-round-potion'></i>
  </div>
  <div
    style='position: relative; pointer-events: none; height: 100%; display: flex; align-items: flex-end; margin : -9px; margin-left: 15px;'
  >

    <svg viewBox='0 0 400 400' class='turn-circle'>
      <circle
        class='circle-svg'
        cx='200'
        cy='200'
        r='100'
        stroke-width='8'
        fill='none'
        stroke-linecap='round'
      />
    </svg>
    {{#if combatHandler.inCombat}}

      <div class='combat-inner-container'>

        {{#if combatHandler.isTurn}}
          <div class='end-turn-btn' data-action='endTurn'>

            <div class='end-turn-btn-text'>
              End Turn<br />
              <i class='fa-solid fa-hourglass-half'></i>
            </div>

          </div>
        {{else}}
          <div class='end-turn-btn-not-turn'>
            <div class='end-turn-btn-text'>
              Next Turn:<br />
              {{combatHandler.tillNextTurn}}
              Turns
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class='end-turn-btn-dice' data-action='rollD20'>
        <div class='end-turn-btn-dice-icon'>
          {{{diceIcon currentDice}}}
        </div>
      </div>
    {{/if}}

  </div>
</div>