<div style='position: relative'>

  <button class='end-turn-btn' data-action='endTurn'>End Turn</button>

  <div class='swap-skill-tray-button'>
    <i class='fa-solid fa-rotate-reverse'></i>
  </div>
</div>