<div style='position: relative'>
  <div class='swap-skill-tray-button' data-action='swapSkillTray'>
    <i class='fa-solid fa-rotate-reverse'></i>
  </div>
</div><div>
  <button class='end-turn-btn' data-action='endTurn'>End Turn</button>

</div>