<button class='small-button'>Act. 1</button>
<button class='small-button'>Act. 2</button>
<button class='small-button'>Act. 3</button>
<button class='small-button'>Act. 4</button>
<button class='small-button'>Act. 5</button>
<button class='small-button'>Act. 6</button>