<div class="{{#if trayOptions.fastForward}}small-button small-button-active{{else}}small-button{{/if}}"
  data-action="toggleFastForward"
  data-tooltip="Fast Forward Ability Uses"
  data-tooltip-direction="UP">
  <div class="button-label">
    <i class="fa-solid fa-forward"></i>
  </div>
</div>

<div class="{{#if trayOptions.enableTargetHelper}}small-button small-button-active{{else}}small-button{{/if}}"
  data-action="toggleTargetHelper"
  data-tooltip="Target Helper"
  data-tooltip-direction="UP">
  <div class="button-label">
    <i class="fa-solid fa-bullseye"></i>
  </div>
</div>

<div class="small-button"
  data-action="trayConfig"
  data-tooltip="Tray Config"
  data-tooltip-direction="UP">
  <div class="button-label">
    <i class="fa-solid fa-gear"></i>
  </div>
</div>

<div class="{{#if trayOptions.rangeBoundaryEnabled}}small-button small-button-active{{else}}small-button{{/if}}"
  data-action="toggleRangeBoundary"
  data-tooltip="Toggle Range Boundary"
  data-tooltip-direction="UP">
  <div class="button-label">
    <i class="fa-solid fa-square-dashed"></i>
  </div>
</div>

<div class="small-button"
  data-action="minimizeTray"
  data-tooltip="Minimize Auto Action Tray"
  data-tooltip-direction="UP">
  <div class="button-label">
    <i class="fa-solid fa-minimize"></i>
  </div>
</div>

<div class="small-button"
  data-action="toggleLock"
  data-tooltip="Lock/Unlock Tray"
  data-tooltip-direction="UP">
  <div class="button-label">
    {{#if @root.locked}}
      <i class="fa-solid fa-lock"></i>
    {{else}}
      <i class="fa-solid fa-lock-open"></i>
    {{/if}}
  </div>
</div>
