<button class='small-button' data-action="minimizeTray" data-tooltip='Restore Auto Action Tray'><i class="fa-solid fa-minimize"></i></button>
<button class='small-button'><i class="fa-solid fa-bullseye"></i></button>
<button class='small-button' data-action='trayConfig' data-tooltip="Tray Config" data-tooltip-direction="UP"><i class="fa-solid fa-gear"></i></button>
<button class='small-button' data-action='toggleItemSelector'><i class="fa-solid fa-square-dashed"></i></button>
<button class={{#if trayOptions.fastForward}} 'small-button-active' {{else}} 'small-button' {{/if}}
  data-action='toggleFastForward' data-tooltip='Fast Forward Ability Uses' data-tooltip-direction='UP'><i
    class='fa-solid fa-forward'></i></button>
<div data-action='toggleLock' data-tooltip='Lock/Unlock Tray' data-tooltip-direction='UP' class="small-button">
  {{#if @root.locked}}
  <i class='fa-solid fa-lock'></i>
  {{else}}
  <i class='fa-solid fa-lock-open'></i>
  {{/if}}
</div>